.button {
  background-color: #333;
  color: snow;
  border: none;
  padding: 0.5em 2em;
  font-size: 1.2em;
  min-width: 200px;
}

.outline {
  background-color: snow;
  color: #333;
  border: 1px solid #333;
  padding: 0.5em 2em;
  font-size: 1.2em;
  min-width: 200px;
}
